<div id='calendar-wrap'>
  {{! <a
    class='btn-floating btn-large waves-effect waves-light red modal-trigger'
    href='#modal1'
  ><i class='material-icons'>add</i></a> }}
  <div class='fixed-action-btn'>
    <a class='btn-floating btn-large red modal-trigger' href='#modal1'>
      <i class='large material-icons'>mode_edit</i>
    </a>
    <ul>
      <li><a class='btn-floating green'><i
            class='material-icons'
          >publish</i></a></li>
      <li><a class='btn-floating blue'><i
            class='material-icons'
          >attach_file</i></a></li>
    </ul>
  </div>

  <div id='modal1' class='modal close'>
    <div class='modal-content'>
      <h4>Add an Event</h4>
      <p>A bunch of text</p>
      <form class='event-form'>
        <input id='date' type='date' />
        <label for='date' type='text'>Date</label>
        <input
          id='input_text'
          type='text'
          class='materialize-textarea'
          data-length='25'
        />
        <label for='input_text' type='text'>Title</label>
        <div class='modal-footer'>
          <a
            href='#'
            class='modal-close waves-effect waves-green btn-flat'
          >Cancel</a>
          <button
            type='submit'
            class='modal-close waves-effect waves-green btn-flat'
          >Save</button>
        </div>
      </form>
    </div>

  </div>

  <header>
    <h1 class='month'></h1>
  </header>
  <div id='calendar'>
    <ul class='weekdays'>
      <li>Sunday</li>
      <li>Monday</li>
      <li>Tuesday</li>
      <li>Wednesday</li>
      <li>Thursday</li>
      <li>Friday</li>
      <li>Saturday</li>
    </ul>

    <ul class='days'>
      <li class='day other-month' id='prev1'>
        <div class='date'>29</div>
      </li>
      <li class='day other-month' id='prev2'>
        <div class='date'>30</div>
      </li>
      <li class='day other-month' id='prev3'>
        <div class='date'>31</div>
      </li>
      <li class='day' id='1'>
        <div class='date'>1</div>
      </li>
      <li class='day' id='2'>
        <div class='date'>2</div>
      </li>

      <li class='day' id='3'>
        <div class='date'>3</div>
      </li>
      <li class='day' id='4'>
        <div class='date'>4</div>
      </li>
    </ul>

    <ul class='days'>
      <li class='day' id='5'>
        <div class='date'>5</div>
      </li>
      <li class='day' id='6'>
        <div class='date'>6</div>
      </li>
      <li class='day' id='7'>
        <div class='date'>7</div>
      </li>
      <li class='day' id='8'>
        <div class='date'>8</div>
      </li>
      <li class='day' id='9'>
        <div class='date'>9</div>
      </li>
      <li class='day' id='10'>
        <div class='date'>10</div>
      </li>
      <li class='day' id='11'>
        <div class='date'>11</div>
      </li>
    </ul>

    <!-- Row #3 -->

    <ul class='days'>
      <li class='day' id='12'>
        <div class='date'>12</div>
      </li>
      <li class='day' id='13'>
        <div class='date'>13</div>
      </li>
      <li class='day' id='14'>
        <div class='date'>14</div>
      </li>
      <li class='day' id='15'>
        <div class='date'>15</div>
      </li>
      <li class='day' id='16'>
        <div class='date'>16</div>
      </li>
      <li class='day' id='17'>
        <div class='date'>17</div>
      </li>
      <li class='day' id='18'>
        <div class='date'>18</div>
      </li>
    </ul>

    <!-- Row #4 -->

    <ul class='days'>
      <li class='day' id='19'>
        <div class='date'>19</div>
      </li>
      <li class='day' id='20'>
        <div class='date'>20</div>
      </li>
      <li class='day' id='21'>
        <div class='date'>21</div>
      </li>
      <li class='day' id='22'>
        <div class='date'>22</div>
      </li>
      <li class='day' id='23'>
        <div class='date'>23</div>
      </li>
      <li class='day' id='24'>
        <div class='date'>24</div>
      </li>
      <li class='day' id='25'>
        <div class='date'>25</div>
      </li>
    </ul>

    <!-- Row #5 -->

    <ul class='days'>
      <li class='day' id='26'>
        <div class='date'>26</div>
      </li>
      <li class='day' id='27'>
        <div class='date'>27</div>
      </li>
      <li class='day' id='28'>
        <div class='date'>28</div>
      </li>
      <li class='day' id='29'>
        <div class='date'>29</div>
      </li>
      <li class='day' id='30'>
        <div class='date'>30</div>
      </li>
      <li class='day' id='next1'>
        <div class='date'>1</div>
      </li>
      <li class='day' id='next2'>
        <div class='date'>2</div>
      </li>
    </ul>

  </div><!-- /. calendar -->
</div><!-- /. wrap -->