<!-- Loop over each object in the projects array -->
{{!-- {{#each projects as |project| }} --}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">this is a span</span>
      needed!
    </p>
    
  </div>
  <div class="col-md-7">
    <p>
      description
    </p>
  </div>
</div>
{{!-- {{/each}} --}}
